body {
    height:90vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-color:black;
}

.grey {
    background-color:#a5a3a6;
    color:black;
}
.grey:hover {
    background-color:#909091;
}

.num {
    background-color:#383a36;
    color:#d5e8fd;
}
.num:hover {
    background-color:#222421;
}

#n0 {
    grid-column-start:1;
    grid-column-end:3;
    aspect-ratio:2/1;
}

.ops {
    background-color:#d68432;
    color:#d5e8fd;
}
.ops:hover {
    background-color:#b36e29;
}

#container {
    /* border:5px solid rgb(30, 131, 101); */
    width:40%;
    display:grid;
    grid-template: repeat(6, 16%) / repeat(4, 20%);
}

button {
    aspect-ratio:1/1;
    border:2px solid black;
    font-size:4vmin;
    border-radius:0.75vmin;
}
button:active {
    transform:scale(1.1);
}

#display {
    grid-column: 1 / -1;
    grid-row:1 / 2;
    background-color:rgb(26, 26, 26);
    color:white;
    font-size:8vmin;
    text-align:right;
    border-radius:0.75vmin;
}